.exploreByNationalityContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  margin: auto;
  position: fixed;
  top: 60px;
  width: 360px;
}

.exploreByNationalitySelect {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  padding: 3px;
  width: 100%;
}

.exploreByNationalitySelect select {
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

.cardNationalityContainer {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  justify-content: center;
  margin-bottom: 70px;
  overflow: scroll;
}

.cardNationalityContainer a {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 150px;
}

.cardNationalityContainer a h3 {
  color: black;
  font-size: 24px;
  margin-top: 10px;
  text-shadow: 1px 2px 5px gray;
}

.cardNationalityCard {
  align-items: center;
  background-color: white;
  border: solid 5px white;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 5px;
}

.card-image {
  border: solid 2px rgb(4, 4, 4);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 2px black;
  width: 130px;
}
