.exploreContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 502px;
  justify-content: center;
  left: 0;
  margin: auto;
  padding-top: 20px;
  position: fixed;
  top: 60px;
  width: 360px;
}

.buttonsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;
}

.buttonsContainer button {
  cursor: pointer;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 80px;
  width: 150px;
}

.exploreNavButtonsContainer {
  display: flex;
  flex-direction: column;
}

.exploreNavButtonsContainer button {
  margin: 20px;
}
