.foodsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 576px;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
  width: 360px;
}

.foodRecipeDetailsContainer {
  align-items: center;
  background-color: #0fa36b;
  display: flex;
  flex-direction: column;
  height: 640px;
  overflow-y: scroll;
  width: 360px;
}

.foodRecipeDetailsContainer h5 {
  margin-top: 10px;
  text-align: center;

}

.iconsContainer {
  display: flex;
  justify-content: center;
}

.iconsContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.linkCopiedContainer p {
  text-align: center;
}

.foodRecipeDetailsIcon {
  margin: 10px;
}

.foodRecipeDetailsImage {
  border: solid 5px white;
  border-radius: 20px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 200px;
}

.foodRecipeDetailsIngredients {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
  width: 300px;
}

.foodIngredientsContainer {
  font-size: 14px;
  padding-right: 6px;
  text-align: right;
}

.foodMesaureContainer {
  font-size: 14px;
}

.foodInstructions {
  font-size: 14px;
  margin: auto;
  margin-top: 10px;
  text-align: justify;
  width: 300px;
}

.videoContainer {
  border: solid 5px white;
  height: 160px;
  margin: auto;
  margin-top: 20px;
  width: 250px;
}

h4, h2 {
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

h2 {
  text-shadow: 2px 2px 2px black;
}

.drinkRecommendedContainer {
  border: solid 2px white;
  display: flex;
  margin-bottom: 50px;
  overflow-x: scroll;
  padding-bottom: 25px;
  width: 340px;
}

.drinkRecommended {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px black;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 10px;
  margin-bottom: 5px;
  padding: 3px;
  text-align: center;
  width: 150px;
}

.drinkRecommended img {
  border: solid 3px white;
  border-radius: 10px;
  width: 150px;
}

.btn-start {
  background-color: #6ce34f;
  bottom: 0;
  color: white;
  font-weight: 900;
  position: fixed;
  width: 339px;
  position: fixed;
  top: 60px;
  width: 360px;
}
