.foodsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 576px;
  justify-content: space-between;
  margin: auto;
  padding-top: 20px;
  width: 360px;
}

.foodContainerDetails {
  margin-bottom: 50px;
}

.foodsCardsContainer {
  height: 500px;
  margin: auto;
}

.foodRecipeDetailsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 360px;
}

.foodRecipeDetailsContainer h5 {
  margin-top: 10px;
  text-align: center;
}

.iconsContainer {
  display: flex;
  justify-content: center;
}

.iconsContainer button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.foodsTitle {
  color: white;
  font-size: 4vh;
  margin-top: 10px;
  text-align: center;
  width: 340px;
}


.linkCopiedContainer p {
  text-align: center;
}

.foodRecipeDetailsIcon {
  margin: 10px;
}

.foodRecipeDetailsImage {
  border: solid 5px white;
  border-radius: 20px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  width: 200px;
}

.foodRecipeDetailsIngredients {
  display: flex;
  height: 80px;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
  overflow: scroll;
  width: 300px;
}

.foodIngredientsContainer {
  font-size: 14px;
  padding-right: 6px;
  text-align: right;
}

.foodMesaureContainer {
  font-size: 14px;
}

.foodInstructions {
  border: solid 5px white;
  border-radius: 10px;
  font-size: 14px;
  height: 100px;
  margin: auto;
  margin-top: 10px;
  overflow: scroll;
  padding: 10px;
  text-align: justify;
  width: 340px;
}

.videoContainer {
  border: solid 5px white;
  height: 160px;
  margin: auto;
  margin-top: 20px;
  width: 250px;
}

h4 {
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: center;
}

h2 {
  text-shadow: 2px 2px 2px black;
}

.drinkRecommendedContainer {
  border: solid 2px white;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  overflow-x: scroll;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-top: 3px;
  width: 300px;
}

.drinkRecommended {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px black;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 9px;
  padding: 3px;
  text-align: center;
  width: 140px;
}

.drinkRecommended img {
  border-radius: 10px;
  width: 120px;
}
