.foodsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 502px;
  justify-content: center;
  left: 0;
  margin: auto;
  padding-top: 20px;
  position: fixed;
  top: 60px;
  width: 360px;
}
