.footerContainer {
  align-items: center;
  background-color: var(--main);
  border: solid 2px black;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  padding: 5px;
  position: fixed;
  width: 360px;
}
