.footerContainer {
  align-items: center;
  background-color: #e5e5e5;
  border: solid 2px black;
  display: flex;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  padding: 5px;
  position: fixed;
  top: 562px;
  width: 360px;
}
