.headerContainer {
  align-items: center;
  background-color: #e5e5e5;
  border: solid 2px black;
  display: flex;
  font-size: 2vh;
  height: 60px;
  justify-content: space-around;
  left: 0;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 360px;
}

.searchBarContainer input {
  border-radius: 10px;
  padding: 8px;
}
