.loginContainer {
  align-items: center;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  height: 640px;
  justify-content: center;
  width: 360px;
}

.loginContainer h1, input {
  margin-bottom: 10px;
}

.loginContainer input, button {
  border-radius: 10px;
  padding: 8px;
}

/*
.loginContainer button {
  color: white;
  font-weight: 900;
}
*/

