* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --main: rgb(182, 175, 182);

  --second-color: #b7df10;

  --ascent-color: #cb333b;

  --green: #0fa36b;

  --white: white;

  --gold: gold;

  --black: black;

}

body {
  background-color: var(--green);
  color: gold;
  height: 640px;
  width: 360px;
}


button {
  cursor: pointer;
}


.meals {
  color: #464646;
  font-family: sans-serif;
  height: 640px;
  width: 360px;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
